@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Montserrat, Inter, system-ui, sans-serif;
  }
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

        * {
          @apply border-border;
        }
    
        body {
          @apply bg-background text-foreground;
        }
    
    
        * {
          scrollbar-width: thin;
          scrollbar-color: #aae9d2 hsla(217, 33%, 17%, 0);
        }
    
        *::-webkit-scrollbar {
          width: 10px;
        }
    
        *::-webkit-scrollbar-track {
          background: hsla(217, 33%, 17%, 0);
        }
    
        *::-webkit-scrollbar-thumb {
          background-color: #aae9d2;
          border-radius: 5px;
          border: 2px solid #022c22;
        }

        h3 {
          @apply pb-2 text-2xl font-medium;
        }
    
        .h3WE {
          @apply w-full pb-2 mt-5 mb-5 text-3xl font-medium border-b border-emerald-950/30;
        }
    
        h4 {
          @apply pb-1 text-xl font-medium;
        }
    
        h5 {
          @apply text-lg;
        }
    
        h6 {
          @apply text-sm font-light;
        }
    
        p {
          @apply text-lg;
        }
    
        .date {
          @apply font-light;
        }
    
        .hover-btn {
          @apply transition-all duration-200 rounded-md hover:ring-2 hover:ring-offset-2 hover:ring-emerald-500 hover:ring-offset-emerald-50;
        }
    
        .liContacts {
          @apply flex flex-row gap-2 items-center px-2 py-0.5 backdrop-blur-md;
        }
    
        .loProjects {
          @apply px-1 text-xs rounded-full ring-1 ring-emerald-600 bg-emerald-100 text-emerald-950;
        }
    
        .liTechSkills {
          @apply px-2 py-0.5 rounded-md bg-emerald-200/50 backdrop-blur-md cursor-default;
        }
}